@page
@model RecipeUI.Pages.RecipesP.IndexModel

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Recipe List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="create" class="btn btn-primary">
                <i class="bi bi-plus-square"></i>&nbsp; Add new recipe
                </a>
        </div>
    </div>
    <br /><br />
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Ingredients
                </th>
                <th>
                    Instructions
                </th>
                <th>
                    Categories
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var recipe in Model.Recipes)
            {
                <tr>
                    <td width="25%">@recipe.Title</td>
                    <td width ="25%">@recipe.Ingredients</td>
                    <td width="25%">@recipe.Instructions</td>
                    <td width="25%">@recipe.Categories</td>
                    <td>
                        <a asp-page="Edit" asp-route-id="@recipe.Id" class="btn btn-primary mx-2" />
                        <i class="bi bi-pencil-square"></i>
                    </td>
                    <td>
                        <a asp-page="Delete" asp-route-id="@recipe.Id" class="btn btn-danger mx-2" />
                        <i class="bi bi-trash3"></i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
